<input type="text" [(ngModel)]="nickname"><button>Registrazione</button><br>
<input type="text" [(ngModel)]="messaggio"><button>Invia a tutti</button><br>
Contatti<br>
<table>
  <tr>
    <th>Nickname</th>
    <th>Gestisci</th>
  </tr>
  <tr *ngFor="let cx of contatti">
    <td>{{cx.nickname}}</td>
    <td>
      <button>Invia a {{cx.nickname}}</button>
    </td>
  </tr>
</table>
Messaggi ricevuti<br>
<table>
  <tr>
    <th>Mittente</th>
    <th>Destinatario</th>
    <th>Messaggio</th>
  </tr>
<tr *ngFor="let mm of messaggi">
  <td>{{mm.aliasMittente}}</td>
  <td>{{mm.aliasDestinatario}}</td>
  <td>{{mm.testo}}</td>
</tr>
</table>