<div *ngIf="sessione == ''">
<input type="text" [(ngModel)]="nickName"><button>Registrazione</button><br>
</div>
<div *ngIf="sessione != ''">
<input type="text" [(ngModel)]="messaggio"><button>Invia a tutti</button><br>
<br>
Contatti<br>
<table>
  <tr>
    <th>NickName</th>
    <th>Gestisci</th>
  </tr>
  <tr *ngFor="let cx of contatti">
    <td>{{cx.nickname}}</td>
       <td>
      <button (click)="invia(cx)">Invia a {{cx.nickname}}</button>
    </td>
  </tr>
  <tr *ngFor="let mm of messaggi">
    <td>{{cx.nickname}}</td>
         </tr>
</table>
</div>
