<div *ngIf="sessione == ''">
  <input type="text" [(ngModel)]="nickname">
  <button (click)="registrazione()">Registrazione</button>
</div>
<br>
<div *ngIf="sessione != ''">
  <input type="text" [(ngModel)]="messaggio">
  <button (click)="inviaTutti()">Invia a tutti</button>
  <br>
  Contatti <br>
  <table>
    <tr>
      <th>Nickname</th>
      <th>Gestisci</th>
    </tr>
    <!-- Righe dati -->
    <tr *ngFor="let c of contatti; index as j">
      <td>{{c.nickname}}</td>
      <td>
        <button (click)="invia(c)">Invia a {{c.nickname}}</button>
      </td>

    </tr>
  </table>
  <br>
  Messaggi ricevuti
  <br>
  <td>
    <button (click)="aggiorna()">Aggiorna</button>
  </td>
  <table>
    <tr>
      Messaggi
      <!-- riga intestazione-->
    <tr>
      <th>Mittente</th>
      <th>Destinatario</th>
      <th>Messaggio</th>
    </tr>
    <!-- Righe dati -->
    <tr *ngFor="let mm of messaggi; index as j">
      <td>{{mm.aliasMittente}}</td>
      <td>{{mm.aliasDestinatario}}</td>
      <td>{{mm.testo}}</td>
    </tr>
  </table>
</div>